* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1920px;
    height: 4955px;
    /* bgc */
    background: #111111;
}

.first-screen .h1 {
    position: absolute;
    top: 450px;
}

.first-screen {
    position: absolute;
    width: 1920px;
    height: 1038px;
    left: 0px;
    top: 0px;
    background: url(pic/bgc.png);
}

.first-screen header {
    position: absolute;
    width: 1296px;
    height: 70px;
    left: 312px;
    top: 30px;
}

.first-screen #a {
    width: 56px;
    height: 23px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #CDAA7D;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-bottom: 1px solid #CDAA7D;
}

.first-screen a {
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.first-screen .group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    gap: 80px;
    left: 11.57%;
    right: 60.8%;
    top: 12.86%;
    bottom: 54.29%;
}

.first-screen .group-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    position: absolute;
    left: 60.8%;
    right: 12.58%;
    top: 12.86%;
    bottom: 54.29%;
}

.first-screen .header-logo-instagram {
    position: absolute;
    background: url(pic/instagram.png);
    width: 26px;
    height: 26px;
    left: 0%;
    right: 98.15%;
    top: 10%;
    bottom: 55.71%;
}

.first-screen .header-logo-button {
    position: absolute;
    background: url(pic/menu.png);
    width: 50px;
    height: 20px;
    left: 96.14%;
    right: 0%;
    top: 20%;
    bottom: 51.43%;
}

.first-screen h1 {
    position: absolute;
    width: 961px;
    height: 258px;
    left: 480px;
    top: 360px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.first-screen .mouse {
    position: absolute;
    width: 168px;
    height: 30px;
    left: 876px;
    top: 908px;
}

.mouse .mouse-icon {
    position: absolute;
    width: 20px;
    height: 30px;
    background: url(pic/mouse.png);
}

.mouse p {
    position: absolute;
    left: 40px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    /* white */
    color: #FFFFFF;
}

.sidenav {
    height: 1038px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav-main-block {
    position: absolute;
    width: 315px;
    height: 546px;
    top: 246px;
    display: flex;
    flex-flow: wrap;
}

.sidenav-main-block h2 {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.sidenav-main-block p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.6;
}

.main-block-2 p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 230%;
    color: #FFFFFF;
    opacity: 0.6;
}

.main-block-3 p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 230%;
    color: #FFFFFF;
    opacity: 0.6;
}

.open-block {
    position: absolute;
    background: url(pic/menu.png);
    width: 50px;
    height: 20px;
    left: 96.14%;
    right: 0%;
    top: 20%;
    bottom: 51.43%;
}