* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1920px;
    height: 4955px;
    /* bgc */
    background: #111111;
}

.first-screen .h1 {
    position: absolute;
    top: 450px;
}

.first-screen {
    position: absolute;
    width: 1920px;
    height: 1038px;
    left: 0px;
    top: 0px;
    background: url(pic/bgc.png);
}

.first-screen header {
    position: absolute;
    width: 1296px;
    height: 70px;
    left: 312px;
    top: 30px;
    border-bottom: 1px solid #818181;
}

.first-screen #a {
    width: 56px;
    height: 23px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #CDAA7D;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-bottom: 1px solid #CDAA7D;
}

.first-screen a {
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.first-screen .group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    gap: 80px;
    left: 11.57%;
    right: 60.8%;
    top: 12.86%;
    bottom: 54.29%;
}

.first-screen .group-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    position: absolute;
    left: 60.8%;
    right: 12.58%;
    top: 12.86%;
    bottom: 54.29%;
}

.first-screen .header-logo-instagram {
    position: absolute;
    background: url(pic/instagram.png);
    width: 26px;
    height: 26px;
    left: 0%;
    right: 98.15%;
    top: 10%;
    bottom: 55.71%;
}

.first-screen .header-logo-button {
    position: absolute;
    background: url(pic/menu.png);
    width: 50px;
    height: 20px;
    left: 96.14%;
    right: 0%;
    top: 20%;
    bottom: 51.43%;
}

.first-screen h1 {
    position: absolute;
    width: 961px;
    height: 258px;
    left: 480px;
    top: 360px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.first-screen .mouse {
    position: absolute;
    width: 168px;
    height: 30px;
    left: 876px;
    top: 908px;
}

.mouse .mouse-icon {
    position: absolute;
    width: 20px;
    height: 30px;
    background: url(pic/mouse.png);
}

.mouse p {
    position: absolute;
    left: 40px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    /* white */
    color: #FFFFFF;
}

.sidenav {
    height: 1038px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav-main-block {
    position: absolute;
    width: 315px;
    height: 546px;
    top: 246px;
    display: flex;
    flex-flow: wrap;
    padding: 85px;
}

.sidenav-main-block h2 {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.sidenav-main-block p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.6;
}

.main-block-2 p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 230%;
    color: #FFFFFF;
    opacity: 0.6;
}

.main-block-3 p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 230%;
    color: #FFFFFF;
    opacity: 0.6;
}

.open-block {
    position: absolute;
    background: url(pic/menu.png);
    width: 50px;
    height: 20px;
    left: 96.14%;
    right: 0%;
    top: 20%;
    bottom: 51.43%;
}

.about {
    position: absolute;
    width: 856px;
    height: 385px;
    left: 532px;
    top: 1158px;
}

.about h2 {
    position: absolute;
    left: 388px;
    color: #FFFFFF;
    font-size: 150px;
}

.about p {
    position: absolute;
    width: 856px;
    height: 261px;
    top: 122px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.service {
    position: absolute;
    width: 1296px;
    height: 832px;
    left: 312px;
    top: 1638px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 44px;
}

.flexbox-1-photo {
    position: relative;
    z-index: 1;
    width: 396px;
    height: 300px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(pic/photo1.png);
}

.flexbox-2-photo {
    position: relative;
    z-index: 1;
    width: 396px;
    height: 300px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(pic/photo2.png);
}

.flexbox-3-photo {
    position: relative;
    z-index: 1;
    width: 396px;
    height: 300px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(pic/photo3.png);
}

.flexbox-4-photo {
    position: relative;
    z-index: 1;
    width: 396px;
    height: 300px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(pic/photo4.png);
}

.flexbox-5-photo {
    position: relative;
    z-index: 1;
    width: 396px;
    height: 300px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(pic/photo5.png);
}

.flexbox-6-photo {
    position: relative;
    z-index: 1;
    width: 396px;
    height: 300px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(pic/photo6.png);
}

.flexbox-1-border {
    box-sizing: border-box;
    position: absolute;
    width: 396px;
    height: 300px;
    opacity: 0.5;
    left: 20px;
    top: -20px;
    border: 1px solid #CDAA7D;
}

.service-flexbox-1 p {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
}

.service-flexbox-2 {
    position: relative;
}

.flexbox-2-border {
    box-sizing: border-box;
    position: absolute;
    width: 396px;
    height: 300px;
    opacity: 0.5;
    left: 20px;
    top: -20px;
    border: 1px solid #CDAA7D;
}

.service-flexbox-2 p {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
}

.service-flexbox-3 {
    position: relative;
}

.flexbox-3-border {
    box-sizing: border-box;
    position: absolute;
    width: 396px;
    height: 300px;
    opacity: 0.5;
    left: 20px;
    top: -20px;
    border: 1px solid #CDAA7D;
}

.service-flexbox-3 p {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
}

.service-flexbox-4 {
    position: relative;
}

.flexbox-4-border {
    box-sizing: border-box;
    position: absolute;
    width: 396px;
    height: 300px;
    opacity: 0.5;
    left: 20px;
    top: -20px;
    border: 1px solid #CDAA7D;
}

.service-flexbox-4 p {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
}

.service-flexbox-5 {
    position: relative;
}

.flexbox-5-border {
    box-sizing: border-box;
    position: absolute;
    width: 396px;
    height: 300px;
    opacity: 0.5;
    left: 20px;
    top: -20px;
    border: 1px solid #CDAA7D;
}

.service-flexbox-5 p {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
}

.service-flexbox-6 {
    position: relative;
}

.flexbox-6-border {
    box-sizing: border-box;
    position: absolute;
    width: 396px;
    height: 300px;
    opacity: 0.5;
    left: 20px;
    top: -20px;
    border: 1px solid #CDAA7D;
}

.service-flexbox-6 p {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
}

.cosmetics {
    position: absolute;
    width: 1296px;
    height: 144px;
    left: 312px;
    top: 2620px;
    display: flex;
    gap: 18px;
}

.cosmetics-block-1 {
    width: 306px;
    height: 144px;
    background: url(pic/logo-4.png);
    opacity: 1;
}

.cosmetics-block-2 {
    width: 306px;
    height: 144px;
    background: url(pic/logo-1.png);
    opacity: 1;
}

.cosmetics-block-3 {
    width: 306px;
    height: 144px;
    background: url(pic/logo-2.png);
    opacity: 1;
}

.cosmetics-block-4 {
    width: 306px;
    height: 144px;
    background: url(pic/logo-3.png);
    opacity: 1;
}

.our-work {
    position: absolute;
    width: 1296px;
    height: 1525px;
    left: 312px;
    top: 2932px;
}

.our-work h2 {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;
    /* white */
    color: #FFFFFF;
}

.our-work .our-work-flexbox-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    position: absolute;
    width: 722px;
    height: 31px;
    left: 287px;
    top: 132px;
}

.our-work-flexbox-text a {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
}

.our-work-flexbox-text .our-work-p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #CDAA7D;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-bottom: 1px solid #CDAA7D;
}

.our-work-flexbox-content {
    position: absolute;
    width: 100%;
    height: 1109px;
    top: 229px;
    display: flex;
    flex-flow: wrap;
    gap: 24px;
}

.flex-box-content-1 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-9.png);
}

.flex-box-content-2 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-6.png);
}

.flex-box-content-3 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-3.png);
}

.flex-box-content-4 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-8.png);
}

.flex-box-content-5 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-5.png);
}

.flex-box-content-6 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-2.png);
}

.flex-box-content-7 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-7.png);
}

.flex-box-content-8 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-4.png);
}

.flex-box-content-9 {
    position: relative;
    width: 416px;
    height: 416px;
    background: url(pic/work-1.png);
}

footer {
    position: absolute;
    width: 1296px;
    height: 368px;
    left: 312px;
    top: 4557px;
    border-top: 1px solid #979696;
    border-bottom: 1px solid #979696;
}

.footer-div {
    position: absolute;
    width: 1296px;
    height: 168px;
    top: 35%;
    display: flex;
    justify-content: space-between;
}

footer h2 {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

footer p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.7;
}

footer .a-div {
    position: relative;
    width: 38px;
    height: 38px;
    background: url(pic/instagram-1.png);
}

.group-omega {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(pic/omega-1.png);
}